/* .CreateItem {
  background-color: rgb(235, 241, 241);
  padding: 10px;
} */

/* .CreateItem textarea {
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
} */

/* #submitFormBtn {
  padding: 9px 25px;
  background-color: #3360bc;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 5px;
  color: white;
} */

/* #submitFormBtn:hover {
  background-color: #84aaf6;
  border: 2px solid #3360bc;
} */

/* .organizational-containers {
  display: inline-block;
  border-style: ridge;
  background-color: rgb(204, 221, 250);
  width: 15%;
  height: auto;
  border-radius: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
} */

.k-form {  
  /* animation: myAnime 3s ease 0s 1 normal forwards; */
  /* box-shadow: 1px 4px 45px 0px #A29077; */
  /* border-radius: 25px 15px 25px 15px; */
}

@keyframes myAnime {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

#uploadForm {
	text-align: left;
	padding: 15px;
}