.Items {
  animation: bomb 3s ease 0s 1 normal forwards;
  box-shadow: 1px 4px 45px 0px #A29077;
  border-radius: 25px 15px 25px 15px;
  max-width: 800px;
  /* background-image: url(../../img/board.PNG); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px auto;
  padding: 15px;
  /* border-radius: 5px; */
}

@keyframes bomb {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.organizational-containers {
  display: inline-block;
  border-style: ridge;
  background-color: rgb(204, 221, 250);
  width: 15%;
  height: auto;
  border-radius: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.float-container {
  /* border: 3px solid #fff; */
  padding: 20px;
}

.float-child {
  width: 30%;
  float: left;
  padding: 10px;
  /* border: 2px solid red; */
} 

  /* .form-container,
  .task-container {
    width: 50%;
  } */

.form-container { 
  padding: 0 10%;
  text-align: left;
}

.form-container .form-input-fields {
  min-width: 400px;
  float: right;
  text-transform: capitalize;
}

.add-task-padding {
  padding-top: 5%;
}

.wave {
  background-image: url(/src/svg/wave.svg);
  background-size: 100% 140px;
  top: 0;
  height: 140px;
  z-index: 1;
  opacity: 0.9;
  transform: rotateY(180deg);
}

.wave.wave-lower {
  transform: rotateY(180deg);
}

.wave.wave-upper {
  transform: rotateX(180deg);
}
