.radina {
  animation: radina 2s ease 0s 1 normal forwards;
}

@keyframes radina {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.stanislav {
  animation: stanislav 2s ease 0s 1 normal forwards;
}

@keyframes stanislav {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.headerrrr {
  cursor: auto;
  color: #0a4870;
  text-align: center;
  padding-bottom: 2%;
  letter-spacing: 1px;
  font-family: 'Copperplate Gothic Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Copperplate Gothic Light'), local('Copperplate Gothic Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 2%;
  letter-spacing: 1px;
  font-family: 'Copperplate Gothic Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Copperplate Gothic Light'), local('Copperplate Gothic Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.contacts-img {
  border-radius: 30px;
}

.description {
  color: #0a4870;
  text-align: center;
  padding: 5px;
  margin: 5px;
  letter-spacing: 1px;
  font-family: 'Copperplate Gothic Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Copperplate Gothic Light'), local('Copperplate Gothic Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}