.projects {
    height: 300vh;
  }

.task-categories {
  width: 100%;
  display: inline;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
  border: unset;
  border-bottom: 2px solid #fd8c73;
  font-weight: 600;
}

.k-tabstrip-items-wrapper .k-item {
  color: black
}

.k-tabstrip-items-wrapper .k-item:hover {
  color: black;
  background-color: rgba(208, 215, 222, 0.32);
}

.k-tabstrip {
  padding-top: 10px;
}
