.notification-container {
    display: inline;
    align-items: center;
    cursor: pointer;
}

.bellNotActive {
    width: 20px;
    height: 20px;
}

.bellActive {
    width: 20px;
    animation: bell 2s ease 0s infinite normal forwards;
}

@keyframes bell {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

.notification-counter {
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    right: -5px;
}