.user-uploaded-avatar {
  width: 400px;
  height: 400px;
  margin: 10px 20px 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-radius: 50%;
}

.inf-content {
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  margin: 20px 100px;
  padding: 10px;
  justify-content: space-around;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../img/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg');
  background-size: cover;
}

.signin-form {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;

}

.signin-form2 {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.btn-lighttt {
  color: #446458;
  background-color: #add2ff;
  border-color: #d8f7eb;
  padding: 1px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.edit-cls-menu {
  margin: 10px;
}

.title-cls{
  padding: 10px;
}