svg
{
  width: 240px;
}

#testButton {
    display: none;
}

.innerSvg {
     display: inline-block; 
}

.car {
    margin-left: -15px;
}

svg {
    vertical-align: bottom;
}


.interior-design {
    position: fixed;
    fill: #f7f7f7;
    height: auto;
    z-index: 20;
    top: 65%;
    left: 50%;
    transform: translate(-40%,-50%);
    opacity: 1;
}


#back_down_wing,
#front_down_wing {
     opacity: 0;
 }

.bubbles_path_desktop{
    position: fixed;
}

.loading-content{
    height: 9000px;
    background-image: linear-gradient( 109.6deg, rgb(209 250 248) 11.2%, rgb(137 147 247) 91.1% );
} 

#message-box {
    position: fixed;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: Open Sans;
    pointer-events: none;
    color: #7e570c;
    font-weight: 400;    
    font-size: 14px;
}

#login-home-page-button {
    left: 20%;
}

#register-home-page-button {
    left: 80%;
}

.home-page-button {
    box-shadow: rgb(234 236 239) 0px 0px 0px 1px inset;
    border-radius: 22px;
    color: rgb(255, 255, 255);
    margin: 24px auto 0px;
    display: block;
    padding: 12px 24px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: linear-gradient(95.26deg, rgb(67, 122, 254) -0.63%, rgb(172, 81, 228) 59.39%, rgb(253, 179, 36) 104.51%);
}

#bubble {
    width: 180px;
    height: 180px;
    position: fixed;
    top: 920px;
    transform: translate3d(0px, 268px, 10px);
    animation: morph 3s ease-in-out infinite both alternate;
    transition: transform 200ms ease-in;
    box-shadow: 0 20px 30px rgb(0 0 0 / 20%), inset 8px -5px 19px 0px rgb(255 255 255);
}

@keyframes morph {
    0% {
      border-radius: 50% 60% 60% 40% / 60% 40% 70% 40%;
    }
    100% {
      border-radius: 40% 60%;
    }
  }

#box:hover {
    border-color: rgb(53, 229, 187);
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
  }


  @keyframes flash_border {
    0% {
      border-radius: 47% 49%;
      /* transform: rotate(90deg) translate(15px, -15px); */
    }
    25%{
        border-radius: 42% 49%;
    }
    50% {
        border-radius: 46% 43%;
        /* transform: rotate(0deg) translate(0); */
    }
    75%{
        border-radius: 39% 44%;
    }
    100% {
        border-radius: 47% 49%;
        /* transform: rotate(90deg) translate(15px, -15px); */
    }
  }
/* linear-gradient(165.34deg,#061873 .8%,#101234 100.89%)  */

@keyframes scrollDown {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(10px);
      opacity: 0;
    }
  }

@keyframes rotator {
    0% {
      transform: rotate(90deg) translate(15px, -15px);
    }
    50% {
      transform: rotate(0deg) translate(0);
    }
    to {
      transform: rotate(90deg) translate(15px, -15px);
    }
  }

/* @media only screen and (min-width: 1885px) and (max-width: 2150px) {
    .bubbles_path_desktop{
        bottom: -24%;
    }
}

@media only screen and (min-width: 1720px) and (max-width: 1885px) {
    .bubbles_path_desktop{
        bottom: -19%;
    }
}

@media only screen and (min-width: 1555px) and (max-width: 1720px) {
    .bubbles_path_desktop{
        bottom: -14%;
    }
}

@media only screen and (min-width: 1380px) and (max-width: 1555px) {
    .bubbles_path_desktop{
        bottom: -9%;
    }
}

@media only screen and (min-width: 1215px) and (max-width: 1395px) {
    .bubbles_path_desktop{
        bottom: -4%;
    }
}

@media only screen and (min-width: 1090px) and (max-width: 1230px) {
    .bubbles_path_desktop{
        bottom: 1%;
    }
}

@media only screen and (min-width: 925px) and (max-width: 1090px) {
    .bubbles_path_desktop{
        bottom: 5%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 925px) {
    .bubbles_path_desktop{
        bottom: 10%;
    }
}

@media only screen and (min-width: 570px) and (max-width: 750px) {
    .bubbles_path_desktop{
        bottom: 15%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 570px) {
    .bubbles_path_desktop{
        bottom: 20%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
    .bubbles_path_desktop{
        bottom: 25%;
    }
}
 */
