.error404 {
  animation: error404 2s ease 0s 1 normal both;
}

@keyframes error404 {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}