.home-logo {
  max-width: auto;
  max-height: auto;

  margin: 0 auto;
  box-shadow: 200px 200px 200px 200px rgba(247, 8, 8, 0.1);

}

.header {
  font-family: 'Copperplate Gothic Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Copperplate Gothic Light'), local('Copperplate Gothic Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  text-align: center;
}

.home-container {
  text-align: center;
}

.code.aos-animate {
  padding-top: 200px;
}

.section.section--code {
  height: 500px;
  overflow-y: auto;
}

.test {
  padding-top: 150px;
}

.aos-all {
  width: 1000px;
  max-width: 98%;
  margin: 50px auto;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 100%;
  height: 300px;
  padding: 20px;
}

.aos-item::before {
  content: attr(data-id);
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 420px) {
  .aos-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .aos-item {
    width: 33%;
  }
}

.aos-anchors__lines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid blue;
  border-bottom: 2px solid red;
}

.aos-anchors__lines::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: green;
}

.aos-anchors__sidebar {
  position: fixed;
  left: 0;
  top: 0;
}

.aos-anchors__sidebar>div {
  padding: 5px 10px;
  background: #f1f1f1;
}

.aos-anchors__content {
  width: 400px;
  margin: 50px auto;
}

.aos-anchors__content>div {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  background: #f1f1f1;
  line-height: 300px;
  text-align: center;
  color: #333;
}

.aos-anchors__content>div::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.home-community {
  width: 100%;
}

.containerrrr img:not(.home-community) {
  width: 300px;
  object-fit: scale-down;
  height: 300px;
}

.containerrrr .home-title {
  padding-top: 10px;
}

.home-community {
  width: 90%;
}

.home-title {
  text-align: center;
  letter-spacing: 1px;
}

.home-title-s {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2;
  padding-right: 20%;
  padding-left: 20%;
}