/* @media screen and (min-width: 1023px) */
.grid-container {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    row-gap: 40px;
    /* column-gap: 40px; */
    /* height: 800px; */
    /* gap: 32px 24px; */
    /* overflow-y: auto; */
    /* opacity: 1; */
    --auto-grid-min-size: 18rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1em;
    max-width: 1600px;
    margin: auto;
    /* width: 8400px; */
    /* opacity: 1; */
    /* transform: translate3d(-1200px, 0px, 0px); */
}

.single-team-container {
    /* background-color: rgb(182, 245, 245); */
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
    width: 400px;
    height: 350px;
    background: url(https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000) center top / 100% 100% no-repeat;
  }
  
  .rec-1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    opacity: 0.4;
    border-radius: 10px;
    width: 120px;
    height: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  .rec-2 {
    box-sizing: border-box;
    margin: 12px 0px 0px;
    min-width: 0px;
    opacity: 0.4;
    border-radius: 8px;
    width: 70px;
    height: 16px;
    background-color: rgb(255, 255, 255);
  }
  .rectangles {
    margin: 24px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
  }
  
  .team-photo-container {
    width: 336px;
    box-sizing: border-box;
    min-width: 0px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px auto;
    overflow: hidden;
    width: 308px;
    height: 190px;
  }
  
  .team-photo {
    width: 308px;
    height: 190px;
    object-fit: cover;
    transform: none;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  
  .photo-blur {
    filter: blur(0);
    transition: filter .3s;
    display: flex;
    opacity: 1;
    /* transition: 0.3s; */
  }
  
  .photo-blur:hover {
    opacity: 0.6;
    transform: scale(1.02);
  }
  
  /* .photo-blur:hover {
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  } */
  
  img {
    border: none;
    vertical-align: middle;
  }
  
  * {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: 'Sofia', sans-serif;
  }

  h2 {
    color: #0a4870;
    font-weight: 500;
 }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
 }

  ul .booking-card {
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
    height: 350px;
 }

  ul .booking-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
 }

  ul .booking-card .book-container {
    height: 200px;
 }

  ul .booking-card .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
 }

  ul .booking-card .book-container .content .btn {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
 }

  ul .booking-card .book-container .content .btn:hover {
    background: white;
    border: 0px solid white;
    color: #0a4870;
 }

  ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px;
    transform: translateY(130px);
    transition: 0.3s;
    background: url(https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=2000) center top / 100% 100% no-repeat;
    height: 270px;
 }

  ul .booking-card .informations-container .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
 }

  ul .booking-card .informations-container .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
 }

  ul .booking-card .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
 }

  ul .booking-card .informations-container .price .icon {
    margin-right: 10px;
 }

  ul .booking-card .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
 }

  ul .booking-card .informations-container .more-information .info-and-date-container {
    display: flex;
 }

  ul .booking-card .informations-container .more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 15px;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
 }

  ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
 }

  ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
    color: #ec992c;
    margin-right: 10px;
 }

  ul .booking-card .informations-container .more-information .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #7d7d7d;
 }

  ul .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
 }

  ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
 }

  ul .booking-card:hover .informations-container {
    transform: translateY(0px);
 }

  ul .booking-card:hover .informations-container .more-information {
    opacity: 1;
 }

  @media (max-width: 768px) {
    ul .booking-card::before {
      background: rgba(10, 72, 112, 0.6);
   }
    ul .booking-card .book-container .content {
      opacity: 1;
      transform: translateY(0px);
   }
    ul .booking-card .informations-container {
      transform: translateY(0px);
   }
    ul .booking-card .informations-container .more-information {
      opacity: 1;
   }
 }
  .credits {
    display: table;
    background: #0a4870;
    color: white;
    line-height: 25px;
    margin: 10px auto;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
 }
  .credits a {
    color: #e3ebf1;
 }
  h1 {
    margin: 10px 20px;
 }
  
 .text-box:hover {
   cursor: pointer;
 }

 .main-title {
	text-align: center;
	text-transform: uppercase;
	scroll-snap-type: y mandatory;
	position: relative;
	height: 7vh;
	/* overflow-y: scroll; */
}


h1 {
	cursor: pointer;
}

h1 {
	color: #000;
	font: 900 50px Montserrat;
	text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.datatableTitle {
	padding-bottom: 30px;
}

.k-animation-container.k-animation-container-relative{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.k-grid-header col:nth-of-type(1){
  width: 50%
}
.k-grid-table col:nth-of-type(1){
  width: 50%
}

.k-grid-header col:nth-of-type(2){
  width: 15%
}
.k-grid-table col:nth-of-type(2){
  width: 15%
}

.k-grid-header col:nth-of-type(3){
  width: 20%
}
.k-grid-table col:nth-of-type(3){
  width: 20%
}

.k-grid-header col:nth-of-type(4){
  width: 15%
}
.k-grid-table col:nth-of-type(4){
  width: 15%
}

.k-grid-header col:nth-of-type(5){
  width: 15%
}
.k-grid-table col:nth-of-type(5){
  width: 15%
}

.k-grid-header col:nth-of-type(6){
  width: 15%
}
.k-grid-table col:nth-of-type(6){
  width: 15%
}

.k-dialog-titlebar {
  border-color: inherit;
  color: black;
  background-color: #ebebeb;
}

.k-searchbox.k-input{
  width: 280px;
  margin-bottom: 5px;
}

.k-button-add-new {
  background-color: #F5F6F8;
  border-color: rgba(27,31,36,0.15);
  box-shadow: 0 1px 0 rgba(27,31,36,0.04);
  color: #242949;
  font-size: 13px;
  font-weight: 400;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
  border-radius: 7%;
  margin-bottom: 6px;
  font-weight : 100;
  font-size: 13px; 
  margin-left: 5px;
}

.k-button-add-new:hover {
  background-color: #f3f4f6;
  border-color: rgba(27,31,36,0.15);
  transition-duration: .1s;
  text-decoration: none;
}


.datatableTitle{
  display: flex;
}

.k-button-solid-primary {
  background-color: #2DA44E;
  border-color: #2DA44E;
  color: white;
  font-size: 13px;
  font-weight: 400;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}

.k-button-solid-primary:hover {
  background-color:  #248C46;
  border-color: #2DA44E;
}

.k-grid tr.k-alt {
  background-color: unset;
}

.k-grid td {
 border-width: 0px 0px 1px 0px;
}

.k-grid th {
 border-width: 0 0 1px 0px;
}

.k-grid {
 max-width: 1200px;
 margin: auto;
}

.k-column-title {
 font-weight: 100;
 text-transform: uppercase;
}

.teams-container .booking-card {
  border-radius: 50%;
}

.teams-container ul .booking-card .informations-container {
    transform: translateY(162px);
    border-radius: 50%;
}

.teams-container ul .booking-card:hover .informations-container {
  transform: translateY(0px);
}

.navigate-link {
  color: #3f73ea;
}

.navigate-link:hover {
  color: #3f73ea;
  border-bottom: 1px #3f73ea;
  border-bottom-style: ridge;
  cursor: pointer;
}


.text-container {
  font-size: x-large;
}

.team-booking-card p{
  margin-bottom: 0.5rem;
}

.grid-container .team-booking-card .informations-container .more-information .info-and-date-container .box {
  margin-top: 0px;
  padding: 5px;
}