.uploaded-pic {
  max-width: 40%;
  max-height: 40%;
  margin: 5px 10px 40px 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  border-radius: 50%;
}

.inf-content {
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  margin: 20px 100px;
  padding: 10px;
}

.submit-pic-button {
  color: #446458;
  background-color: #add2ff;
  border-color: #d8f7eb;
  padding: 1px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}