.notificationBox {
  margin-top: 20px;
  background-color: #f0f2f5;
  margin-left: 40px;
  margin-right: 40px;
}

.btn-light {
  color: #2cdd9b;
  background-color: #e5f7f0;
  border-color: #d8f7eb;
}