.navbar {
    width: 100%;
}
.navbar-section {
  animation: navbar 2s ease 0s 1 normal forwards;
  height: 60px;
  padding-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 4px 5px rgba(0,0,0,0.04);
}

.navbar-section li > a span {
  display: block;
  line-height: 60px;
  padding: 0 15px;
  white-space: nowrap;
}

.navbar-section li > a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #0a0a0a;
  padding: 2px 0;
  font-family: "GILROY Extra Bold", Arial, Tahoma, sans-serif;
}

.navbar-section li > a:after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: 20px;
    width: 80%;
    opacity: 0;
    border-bottom: 1px solid;
}

.menu-wrapper {
  justify-content: end;
  display: flex;
}

.navbar-section ul { 
  float: right;
}

.navbar-section .notification-counter {
  position: relative;
  right: 5px;
  top: -5px;
}

.navbar-section .notification-container {
  display: flex;
}

.k-list-content ul {
  display: block;
}

.bell-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell-container a {
  height: 35px;
}

@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


