.Item {
  background-color: rgb(166, 194, 194);
  border: 1px solid rgb(241, 241, 241);
  margin: 20px auto;  
}

button {
  padding: 1px 10px;
  background-color: #3360bc;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 5px;
  margin-left: 15px;
  color: white;
}

button:hover {
  background-color: #84aaf6;
  border: 2px solid #3360bc;
}

.item {
  width: 30%;  
  overflow-wrap: break-word;
}