 .task-photo {
    width: 500px;
    height: 400px;
    object-fit: cover;
    transform: none;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  .task-container {
    left: 5%;
  }

  .main-task-title {
	text-align: center;
	text-transform: uppercase;
	scroll-snap-type: y mandatory;
	position: relative;
    font: 900 37px Montserrat;
}

.comment-container {
    border-style: ridge;
}

.comment-form {
    position: relative;
    left: 4%;
    top: 21%;
  } 

  .task {
    padding: 20px;
  }

  .task-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;

  }

  @media screen and (max-width: 768px) {
    .task-container {
      flex-direction: column;
    }
  }

  .task-details {
    text-align: left;
  }

  .task-details .p {
    padding-top: 5%;
  }


  .task-photo-container {
    width: 100%;
    height: auto;
  }

  
  .task-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .task-items > .task-item {
    flex: 50%;
  }

  .task-item {
    border-top: 1px solid hsl(210deg 18% 87%);
    border-image: linear-gradient(to right, hsl(210deg 18% 87%) 70%, transparent 30%) 100% 1;
    margin-top: 16px;
    padding-top: 16px;
  }

  .task-item:after {
    padding:0;margin:0;display:block;
    content: "";
    width:50%;
    height:1.1px;
    background-color:red;
    position: absolute;
    right:0;
    top:-1px;
  }

  .task-details p {
    min-height: 50%;
  }

  .container {
    margin-left: inherit;
  }
  
  .task-container {
    max-width: 1200px;
    margin: auto;
  }

  .comment-container {
    padding-top: 20px;
  }

  .comment-section .task-item:last-child {
    padding-bottom: 1em;
  }

  .single_advisor_profile {
      position: relative;
      margin-bottom: 50px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      z-index: 1;
      border-radius: 15px;
      -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
      box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  }
  .single_advisor_profile .advisor_thumb {
      position: relative;
      z-index: 1;
      border-radius: 15px 15px 0 0;
      margin: 0 auto;
      padding: 30px 30px 0 30px;
      background-color: #3f43fd;
      overflow: hidden;
  }
  .single_advisor_profile .advisor_thumb::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 150%;
      height: 80px;
      bottom: -45px;
      left: -25%;
      content: "";
      background-color: #ffffff;
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
  }
  @media only screen and (max-width: 575px) {
      .single_advisor_profile .advisor_thumb::after {
          height: 160px;
          bottom: -90px;
      }
  }
  .single_advisor_profile .advisor_thumb .social-info {
      position: absolute;
      z-index: 1;
      width: 100%;
      bottom: 0;
      right: 30px;
      text-align: right;
  }
  .single_advisor_profile .advisor_thumb .social-info a {
      font-size: 14px;
      color: #020710;
      padding: 0 5px;
  }
  .single_advisor_profile .advisor_thumb .social-info a:hover,
  .single_advisor_profile .advisor_thumb .social-info a:focus {
      color: #3f43fd;
  }
  .single_advisor_profile .advisor_thumb .social-info a:last-child {
      padding-right: 0;
  }
  .single_advisor_profile .single_advisor_details_info {
      position: relative;
      z-index: 1;
      padding: 30px;
      text-align: right;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 0 0 15px 15px;
      background-color: #ffffff;
  }
  .single_advisor_profile .single_advisor_details_info::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 3px;
      background-color: #3f43fd;
      content: "";
      top: 12px;
      right: 30px;
  }
  .single_advisor_profile .single_advisor_details_info h6 {
      margin-bottom: 0.25rem;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info h6 {
          font-size: 14px;
      }
  }
  .single_advisor_profile .single_advisor_details_info p {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info p {
          font-size: 12px;
      }
  }
  .single_advisor_profile:hover .advisor_thumb::after,
  .single_advisor_profile:focus .advisor_thumb::after {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a,
  .single_advisor_profile:focus .advisor_thumb .social-info a {
      color: #ffffff;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
  .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
  .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
  .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info,
  .single_advisor_profile:focus .single_advisor_details_info {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .single_advisor_details_info::after,
  .single_advisor_profile:focus .single_advisor_details_info::after {
      background-color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info h6,
  .single_advisor_profile:focus .single_advisor_details_info h6 {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info p,
  .single_advisor_profile:focus .single_advisor_details_info p {
      color: #ffffff;
  }

  .buttons-group {
    position: relative;
    top: 5%;
    float: left;
  }

  .buttons-group button{
    margin-left: 10px;
  }

  .k-task-submit {
    float: right;
    margin-top: 10px;
  }