.Login {
  max-width: 600px;
  margin: 100px auto;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1.25em;
  border-color: rgba(0, 0, 0, 0.08);
}

.Login .Form {
  margin: 0 auto;
  width: 400px;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.Login .Form label {
  width: 120px;
  display: inline-block;
}

.Login .Form input {
  width: 280px;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 10px;
}

.Login .Form button {
  margin: 0 auto;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 20px;
}

.Login .Form button:hover {
  cursor: pointer;
}

.login-title-legend {
  margin: 0 0 1em;
  padding: 0px;
  border-width: 0 0 2px;
  border-style: solid;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  border-color: rgba(0, 0, 0, 0.08);
}

.login-input {
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.blue-background {
  background-color: #7497C6;
}
